In [1]:
import pandas as pd

In [5]:

pd.__version__ #`pd.__version__` returns the version of the Pandas library installed in your Python environment.

'2.2.2'

In [7]:
list_s=[1,2,-3,6.2,'data values']#The list list_s = [1, 2, -3, 6.2, 'data values'] contains a mix of integers, a float, and a string.
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [9]:
series1=pd.Series(list_s)#`series1 = pd.Series(list_s)` creates a Pandas Series from the `list_s`, converting the list into a one-dimensional labeled array.
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [11]:
type(series1)

pandas.core.series.Series

In [18]:
series2=pd.Series([1,2,3,4])#`series2 = pd.Series([1, 2, 3, 4])` creates a Pandas Series from the list `[1, 2, 3, 4]`, where each element is assigned a default index (0, 1, 2, 3).
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
empty_s=pd.Series([])#`empty_s = pd.Series([])` creates an empty Pandas Series with no elements. It will have no data and a default integer index starting from 0.
print(empty_s)

Series([], dtype: object)

In [22]:
series2=pd.Series([1,2,3,4])#`series2 = pd.Series([1, 2, 3, 4])` creates a Pandas Series from the list `[1, 2, 3, 4]` with a default integer index.
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [26]:
empty_s=pd.Series([])#`empty_s = pd.Series([])` creates an empty Pandas Series with no data and a default integer index.
print(empty_s)

Series([], dtype: object)

In [30]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'])#`series3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])` creates a Pandas Series with custom indices `'a', 'b', 'c', 'd'` for the corresponding values `[1, 2, 3, 4]`.
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [34]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float )#`series3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], dtype=float)` creates a Pandas Series with custom indices `'a', 'b', 'c', 'd'`, values `[1, 2, 3, 4]`, and sets the data type to `float`.
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [36]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name='data values' )#`series3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], dtype=float, name='data values')` creates a Pandas Series with custom indices `'a', 'b', 'c', 'd'`, values `[1, 2, 3, 4]`, sets the data type to `float`, and assigns the name 'data values' to the Series.
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [38]:
scaler_s=pd.Series(0.5)#`scaler_s = pd.Series(0.5)` creates a Pandas Series with a single value `0.5` and a default integer index `0`.
print(scaler_s)

0    0.5
dtype: float64

In [40]:
scalar_s=pd.Series(0.5,index=[1,2,3])#`scalar_s = pd.Series(0.5, index=[1, 2, 3])` creates a Pandas Series with the value `0.5` repeated for each index `[1, 2, 3]`.
print(scaler_s)

0    0.5
dtype: float64

In [44]:
dict_s=pd.Series({'a':1,'b':2})#`dict_s = pd.Series({'a': 1, 'b': 2})` creates a Pandas Series from a dictionary with keys `'a'` and `'b'` as indices, and corresponding values `1` and `2`.
print(dict_s)

a    1
b    2
dtype: int64

In [48]:
s4=pd.Series([1,2,3,4,5])#`s4 = pd.Series([1, 2, 3, 4, 5])` creates a Pandas Series with values `[1, 2, 3, 4, 5]` and a default integer index.
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [52]:
s4[4]#`s4[4]` accesses the element at index `4` in the Pandas Series `s4`, which in this case would return the value `5`, as the Series has the default integer index starting from 0.

5

In [54]:
s4[0:3]#`s4[0:3]` returns a slice of the Pandas Series `s4` from index `0` to `2` (not including index `3`), which would give the values `[1, 2, 3]`.

0    1
1    2
2    3
dtype: int64

In [56]:
max(s4)#`max(s4)` returns the maximum value in the Pandas Series `s4`. For `s4 = [1, 2, 3, 4, 5]`, it would return `5`.

5

In [58]:
min(s4)#`max(s4)` returns the minimum value in the Pandas Series `s4`. For `s4 = [1, 2, 3, 4, 5]`, it would return `1`.

1

In [60]:
s4[s4>3]#`s4[s4 > 3]` filters the Pandas Series `s4` and returns only the values greater than `3`. For `s4 = [1, 2, 3, 4, 5]`, it would return a Series with values `[4, 5]`.

3    4
4    5
dtype: int64

In [62]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [64]:
s5=pd.Series([1,2,3,4,5])#`s5 = pd.Series([1, 2, 3, 4, 5])` creates a Pandas Series with values `[1, 2, 3, 4, 5]` and a default integer index starting from `0`.
s5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [66]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [68]:
s6=pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [70]:
s5+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64